<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-3">Sobre Mim</h4>
                    <p class="card-text">Meu nome é Matheus. Sou desenvolvedor de software e apaixonado por tecnologia, política e economia, especialmente pela Escola Austríaca de Economia. Trabalho no Brasil e gosto de me aprofundar em programação, arquitetura de sistemas e princípios de desenvolvimento de software. Embora meu foco profissional seja construir software eficiente e confiável, também gosto de discutir tópicos mais amplos, como cultura, economia e o futuro da tecnologia. Tenho um interesse particular pelos idiomas e tenho grande prazer em aprender e conhecer melhor línguas estrangeiras.</p>
                    <p class="card-text">Também tenho um grande interesse em debates sobre políticas sociais e econômicas e adoro explorar ideias complexas relacionadas ao comportamento humano, evolução social e a filosofia por trás dos sistemas econômicos. Busco crescer tanto profissionalmente quanto pessoalmente, engajando-me com comunidades diversas e aprendendo com suas perspectivas únicas.</p>
                    <p class="card-text">Sinta-se à vontade para se conectar comigo nas redes sociais ou me enviar um e-mail se quiser discutir programação, economia, ou simplesmente compartilhar boas dicas de música ou aprendizado de línguas. Mas, por favor, certifique-se de ter feito sua pesquisa primeiro — vamos manter o papo interessante!</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-3">Background</h4>
                    <p class="card-text">Minha jornada profissional está enraizada no desenvolvimento de software, mas meus interesses vão muito além do código. Minha paixão pela economia política alimenta minha curiosidade sobre como a tecnologia impacta a governança e as economias globais. No meu tempo livre, exploro tópicos relacionados à Escola Austríaca de Economia e gosto de dissecar seus princípios. Como entusiasta da tecnologia, estou sempre experimentando novas linguagens, frameworks e ferramentas para aprimorar minhas habilidades.</p>
                    <p class="card-text">Eu me considero um eterno aprendiz. Seja acompanhando as últimas linguagens de programação, explorando novas teorias econômicas, estou sempre buscando expandir meu conhecimento e entendimento.</p>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
