<div class="container mt-5">
    <section class="mb-5">
        <div class="card">
            <div class="card-body">

                <!-- TODO: baixar a imagem localmente -->
                <img class="img-fluid rounded-circle mb-3" width="150" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.dicionariopopular.com%2Fimagens%2Fimagem-de-perfil-gato.jpg&f=1&nofb=1&ipt=4e8b60865b07c5b16539ff7dfd8ea350fa80db277599c50696e5857829fc8ce1&ipo=images" alt="">

                <h2>{{ 'ABOUT.TITLE' | translate }}</h2>
                <p *ngFor="let paragraph of ( 'ABOUT.CONTENT' | translate )">{{ paragraph }}</p>
            </div>
        </div>
    </section>

    <section class="mb-5">
        <div class="card">
            <div class="card-body">
                <h2>{{ 'BACKGROUND.TITLE' | translate }}</h2>
                <p *ngFor="let paragraph of ('BACKGROUND.CONTENT' | translate)">{{ paragraph }}</p>
            </div>
        </div>
    </section>

    <section class="mb-5">
        <div class="card">
            <div class="card-body">
                <h2>{{ 'INTERESTS.TITLE' | translate }}</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h3>{{ 'INTERESTS.TECHNOLOGIES.TITLE' | translate }}</h3>
                        <ul>
                            <li *ngFor="let tech of ('INTERESTS.TECHNOLOGIES.LIST' | translate)">{{ tech }}</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3>{{ 'INTERESTS.PERSONAL.TITLE' | translate }}</h3>
                        <ul>
                            <li *ngFor="let interest of ('INTERESTS.PERSONAL.LIST' | translate)">{{ interest }}</li>
                            <ul>
                                <li *ngFor="let artist of ('INTERESTS.PERSONAL.MUSIC' | translate)">{{ artist }}</li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mb-5">
        <div class="card">
            <div class="card-body">
                <h2>{{ 'CONTACT.TITLE' | translate }}</h2>
                <p>{{ 'CONTACT.CONTENT' | translate }}</p>
                <a href="/contact" style="color: blue; text-decoration: underline;">{{ 'CONTACT.BUTTON' | translate}}</a>
            </div>
        </div>
    </section>

    <footer>
        <app-footer></app-footer>
    </footer>
</div>
