<div class="container mt-5">
    <h2>Contatos</h2>
    
    <ul class="list-group mt-4 col-md-8">
        <li class="list-group-item overflow-scroll">
            <strong>Email:</strong>
            <a class="mx-2"
               href="mailto:seu.email@dominio.com">matheus82pessoal&#64;protonmail.com</a>
        </li>
        <li class="list-group-item overflow-scroll">
            <strong>LinkedIn:</strong>
            <a class="mx-2"
               href="https://www.linkedin.com/in/programadormatheus/"
               target="_blank">linkedin.com/in/programadormatheus</a>
        </li>
        <li class="list-group-item overflow-scroll">
            <strong>GitHub:</strong>
            <a class="mx-2" 
               href="https://github.com/MatheusdeOliveiraCorrea" 
               target="_blank">MatheusdeOliveiraCorrea</a>
        </li>
    </ul>
</div>