<div class="container mt-5">
    <h2>Contatos</h2>
    
    <ul class="list-group mt-4">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>Email:</strong>
            <a href="mailto:seu.email@dominio.com">matheus82pessoal&#64;protonmail.com</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>LinkedIn:</strong>
            <a href="https://www.linkedin.com/in/programadormatheus/"
                target="_blank">linkedin.com/in/programadormatheus</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>GitHub:</strong>
            <a href="https://github.com/MatheusdeOliveiraCorrea" target="_blank">MatheusdeOliveiraCorrea</a>
        </li>
    </ul>
</div>